@font-face {
    font-family: 'Cannu';
    src: url('Cannu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Cannu';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    text-align: center;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 15px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo {
    width: 150px;
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    color: #f39c12;
}


h1, h2 {
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


.mission {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.mission p {
    color: #555;
}


.values {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.values ul {
    list-style-type: none;
    padding: 0;
}

.values li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

.values strong {
    color: #333;
}


.impact {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.impact p {
    color: #555;
}


.sponsorship-tiers {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.sponsorship-tiers ul {
    list-style-type: none;
    padding: 0;
}

.sponsorship-tiers li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
}

.sponsorship-tiers p {
    color: #555;
}


.sponsorship-benefits {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.sponsorship-benefits p {
    color: #555;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #fff;
    font-size: 14px;
}

footer p {
    margin: 0;
}


@media (max-width: 768px) {
    .about-us {
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
        padding: 10px 0;
    }

    nav li {
        margin: 10px 0;
    }
}
