@font-face {
    font-family: 'Cannu';
    src: url('Cannu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Cannu';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    text-align: center;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 15px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo {
    width: 150px;
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    color: #f39c12;
}

#hero {
    background-image: url('coverpic.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    position: relative;
}

.hero-text h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
}

.hero-text p {
    font-size: 1.5em;
    margin-top: 10px;
    text-shadow: 2px 2px 4px #000000;
}

p {
    font-size: 3em
}


#about {
    padding: 40px 20px;
}

#about .container {
    max-width: 800px;
    margin: 0 auto;
}

#about .portrait {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid black;
}

.president-title {
    font-size: 1.2em;
    color: #333;
    font-weight: 550;
    margin-top: 8px;
}


#countdown {
    padding: 40px 20px;
    background-color: #f1f1f1;
}

.countdown-container h3 {
    font-size: 1.8em;
    color: #333;
}

#timer {
    font-size: 2em;
    font-weight: bold;
    color: #d9534f;
    margin-top: 10px;
}


#sponsors .container {
    max-width: 800px;
    margin: 0 auto;
}

.cta-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cta-btn:hover {
    background-color: #0056b3;
}


footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
}
